<!doctype html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="theme-color" content="#3e454c">
	
	<title>practice goldenowl</title>

	<!-- Font awesome -->
	<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
	<!-- Sandstone Bootstrap CSS -->
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<!-- Bootstrap Datatables -->
	<link rel="stylesheet" href="/stylesheets/dataTables.bootstrap.min.css">
	<!-- Bootstrap social button library -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-social.css">
	<!-- Bootstrap select -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-select.css">
	<!-- Bootstrap file input -->
	<link rel="stylesheet" href="/stylesheets/fileinput.min.css">
	<!-- Awesome Bootstrap checkbox -->
	<link rel="stylesheet" href="/stylesheets/awesome-bootstrap-checkbox.css">
	<!-- Admin Stye -->
	<link rel="stylesheet" href="/stylesheets/style.css">

	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
	<div class="brand clearfix">
		<a href="index.html" class="logo"><img src="/images/logo.jpg" class="img-responsive" alt=""></a>
		<span class="menu-btn"><i class="fa fa-bars"></i></span>
		<ul class="ts-profile-nav">
			<li><a href="#">Help</a></li>
			<li><a href="#">Settings</a></li>
			<li class="ts-account">
				<a href="#"><img src="/images/ts-avatar.jpg" class="ts-avatar hidden-side" alt=""> Account <i class="fa fa-angle-down hidden-side"></i></a>
				<ul>
					<li><a href="#">My Account</a></li>
					<li><a href="#">Edit Account</a></li>
					<li><a href="#">Logout</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<div id="dashboard"></div>

	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/bootstrap-select.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/jquery.dataTables.min.js"></script>
	<script src="/javascripts/dataTables.bootstrap.min.js"></script>
	<script src="/javascripts/Chart.min.js"></script>
	<script src="/javascripts/fileinput.js"></script>
	<script src="/javascripts/chartData.js"></script>
	<script src="/javascripts/main.js"></script>
	
	<!-- react -->
	<script src="/bundle.js"></script>
</body>

</html>
